<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.huqiao.learn.mybatis.entity.User">
  <select id="findUserById" parameterType="int" resultType="me.huqiao.learn.mybatis.entity.User">
    select * from sys_user where id = #{id}
  </select>
  
  <select id="findUsersByName" parameterType="java.lang.String" resultType="me.huqiao.learn.mybatis.entity.User">
  	select * from sys_user where username like #{username}
  </select>
  
  <delete id="deleteById" parameterType="int" >
  	delete from sys_user where id=#{id}
  </delete>
  
  <update id="updateUser" parameterType="me.huqiao.learn.mybatis.entity.User">
  	update sys_user set username=#{username},email=#{email} where id=#{id}
  </update>
  
  <insert id="addUser"  parameterType="me.huqiao.learn.mybatis.entity.User">
  	<selectKey order="AFTER" keyProperty="id" resultType="int">
  		select LAST_INSERT_ID()
  	</selectKey>
  	insert into sys_user(username,email) value(#{username},#{email})
  </insert>
  
  
  
</mapper>